


.typewriter{
  font-size: 25px;
  margin: 0 auto;
  color: white;
}
.typewriter .with__bg{
  background: #00ade8;
}

.bottom-section-wrapper {
  display: flex;
  margin: auto;
  margin-left: 2.2em;
  /* grid-template-columns: 1fr 7fr; */
}
.text-bottom-wrapper {
  margin: auto;
  font-size: 1.9em;
  width: 3.9em;
  margin-right: 1.5em;
  font-weight: bold;
  color: #fff;
}

.text-bottom-wrapper::before {
  content: '';
  background: #00ade8;
  width: 115px;
  height: 25px;
  display: block;
  margin-bottom: -38px;
  -webkit-transition: 0.33s all;
  -o-transition: 0.33s all;
  transition: 0.33s all;
  -webkit-appearance: none;
}

.text-bottom-wrapper:hover::before {
  width: 0px;
  -webkit-transition: 0.33s all;
  -o-transition: 0.33s all;
  transition: 0.33s all;
  -webkit-appearance: none;
}

@media screen and (max-width: 1070px) {
  .bottom-section-wrapper {
    display: grid;
    position: absolute;
    bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 21px;
    width: 100%;
    margin: 0;
  }
  .text-bottom-wrapper {
    margin: 0 auto;
    font-size: 20px;
  }
  .text-bottom-wrapper::before {
    width: 65px;
    height: 15px;
    display: block;
    margin-bottom: -24px;
  }
}
