@media screen and (max-width: 945px) {
  .typewriter {
    font-size: 15px !important;
  }
  .bottom-section-wrapper {
    margin-bottom: 5em !important;
  }
}
.typewriter {
  font-size: 20px;
  margin: 0 auto;
  color: white;
  display: inline-flex;
}
.Typewriter__wrapper {
  background: #00ade8;
  padding-left: 3px;
  padding-right: 3px;
}

.bottom-section-wrapper {
  display: flex;
  margin: auto;
  margin-left: 1.6em;
  /* grid-template-columns: 1fr 7fr; */
}
.text-bottom-wrapper {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin: auto 2.5em auto auto;
  width: 3.9em;
}

.text-bottom-wrapper::before {
  content: '';
  background: #00ade8;
  width: 95px;
  height: 15px;
  display: block;
  margin-bottom: -25px;
  -webkit-transition: 0.33s all;
  -o-transition: 0.33s all;
  transition: 0.33s all;
  -webkit-appearance: none;
}

.text-bottom-wrapper:hover::before {
  width: 0px;
  -webkit-transition: 0.33s all;
  -o-transition: 0.33s all;
  transition: 0.33s all;
  -webkit-appearance: none;
}

@media screen and (max-width: 1070px) {
  .bottom-section-wrapper {
    display: grid;
    position: absolute;
    bottom: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 21px;
    width: 100%;
    margin: 0;
  }
  .text-bottom-wrapper {
    margin: 0 auto;
    font-size: 17px;
  }
  .text-bottom-wrapper::before {
    width: 65px;
    height: 12px;
    display: block;
    margin-bottom: -21px;
  }
}

.hns_value > div:first-of-type {
  display: none !important;
}
